Data_libraries/__pycache__/

Data_pairs/**/classifier_latents/

Data_pairs/*/*/key_lists/

Data_pairs/*/*/key_pair_lists/

Data_pairs/*/*/keys.list

Data_pairs/*/*/*/*/*/key_lists/

Data_pairs/*/*/*/*/*/key_pair_lists/

Data_pairs/*/*/*/*/*/keys.list

Data_pairs/**/siamese_latents/

Data_pairs/buckeye/

Data_pairs/omniglot/

Data_processing/buckeye/

Data_processing/Image_pictures/

Data_processing/MNIST/

Data_processing/omniglot/

Data_processing/__pycache__/

Data_processing/Speech_signal_and_spectograms/

Data_processing/TIDigits/

Datasets/buckeye/doc/

Datasets/buckeye/s*/

Datasets/MNIST/

Datasets/Omniglot/

Datasets/TIDigits/shorten/

Datasets/TIDigits/sphere/

Datasets/TIDigits/tidigits/

Datasets/TIDigits/tidigits_wavs/

Datasets/TIDigits/tmp/

docker/HTK-3.4.1.tar.gz/

Few_shot_learning/Experiments/

Few_shot_learning/Episode_files/

Few_shot_learning/generated_files/

General_libraries/__pycache__/

Model_data/

Model_data_non_final/

Model_evaluation/__pycache__/

Model_libraries/__pycache__/

Model_results/Multimodal_results/

Model_results/Non_final_unimodal_results/

Model_results/Unimodal_results/

Model_results/Graphs_of_results/

Notebooks/.ipynb_checkpoints/

__pycache__/

src/